<?php
return [
		'Intermesh\Core\Config' => [
				'productName' => 'Group-Office 7.0',
				'dataFolder'=>dirname(__FILE__).'/data'
		],
		'Intermesh\Core\Debugger' => [
				'enabled' => true
		],
		'Intermesh\Core\Db\Connection' => [
				'user' => 'root',
				'port' => 3306,
				'pass' => '',
				'database' => 'go7',
				'host' => 'localhost',
		],
		'Intermesh\Core\Validate\ValidatePassword' => [
			'enabled' => true
		],
	
		'Intermesh\Modules\Addressbook\Model\Contact' => [
			'defaultCountry' => 'NL'
		]
];
